<title><%= title%></title>
<h1>Pages#AboutUs</h1>
<h2>About Cupcake Qatar</h2>

<a>Cupcake Qatar: here where you can design your cupcake and sell it</a></br>
<a>To order a cupcake, feel free to contact the seller using his/her contact information</a>
<ul>

<a>The creation of Cupcake Qatar</a></br>
	<a>Oct-2011: family and friends supported the idea of starting a cupcake business</a></br>
	<a>Nov-2012: starting the business</a>
</ul>

