<title><%= title%></title>
<h1>Pages#Home</h1>
<h2>Welcome to Cupcake Qatar</h2>

<a>Cupcake Qatar: here where you can design your cupcake and sell it</a></br>
<a>To order a cupcake, feel free to contact the seller using his/her contact information</a>
	



